<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-left">
            <span class="dev-brand">CDSoft</span>
            <span class="divider">|</span>
            <span class="brand-name">Simple Nómina v.2026.1.0</span>
            <span class="copyright">© @DateTime.Now.Year</span>
        </div>
    </div>
</footer>